<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharePosh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SharePosh.Properties.Settings>
            <setting name="SharePosh_SOAP_Webs_Webs" serializeAs="String">
                <value>http://vmfp-sp2k13/_vti_bin/Webs.asmx</value>
            </setting>
            <setting name="SharePosh_SOAP_Lists_Lists" serializeAs="String">
                <value>http://vmfp-sp2k13/_vti_bin/Lists.asmx</value>
            </setting>
            <setting name="SharePosh_SOAP_SiteData_SiteData" serializeAs="String">
                <value>http://vmfp-sp2k13/_vti_bin/SiteData.asmx</value>
            </setting>
            <setting name="SharePosh_SOAP_Copy_Copy" serializeAs="String">
                <value>http://vmfp-sp2k13/_vti_bin/Copy.asmx</value>
            </setting>
            <setting name="SharePosh_SOAP_Versions_Versions" serializeAs="String">
                <value>http://vmfp-sp2k13/_vti_bin/Versions.asmx</value>
            </setting>
            <setting name="SharePosh_SOAP_Sites_Sites" serializeAs="String">
                <value>http://vmfp-sp2k13/_vti_bin/Sites.asmx</value>
            </setting>
            <setting name="SharePosh_SOAP_Dws_Dws" serializeAs="String">
                <value>http://vmfp-sp2k13/_vti_bin/Dws.asmx</value>
            </setting>
        </SharePosh.Properties.Settings>
    </applicationSettings>
</configuration>